// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-gold: linear-gradient(315deg, #facc6b 0%, #fabc3c 74%);

// FONTS
$font-roboto-regular: "../assets/fonts/Roboto-Regular.ttf";
$font-roboto-medium: "../assets/fonts/Roboto-Medium.ttf";
$font-roboto-bold: "../assets/fonts/Roboto-Bold.ttf";

// FONT-SIZE
$font-sm: 1rem;
$font-md: 1.5rem;
$font-lg: 1.6rem;
$font-xl: 2rem;
$font-xxl: 3rem;

// SCREEN
$screen-mobile-sm: 576px;
$screen-mobile-md: 767px;
$screen-tablet: 991px;
$screen-desktop-md: 1199px;
$screen-desktop-lg: 1200px;
